---
- name: Create prometheus group
  group:
    name: prometheus

- name: Create prometheus user
  user:
    name: prometheus
    group: prometheus
    shell: "/sbin/nologin"

- name: Create prometheus directory
  file:
    path: "/opt/prometheus"
    state: directory
    owner: prometheus
    group: prometheus
    mode: 0775

- name: Create config directory
  file:
    path: "/etc/prometheus"
    state: directory
    owner: root
    group: root

- name: Update Prometheus Server targets list
  include: prometheus.yml
  when: "'prometheus' in {{ group_names }}"

- name: Install node-exporter
  include: node-exporter.yml
  when: "'exporters' in {{ group_names }}"

- name: Chown prometheus directory
  file:
    path: "/opt/prometheus"
    state: directory
    owner: prometheus
    group: prometheus
    recurse: yes
